* {
    margin: 0;
    padding: 0;
}

.logo-img {
    /* background-image: url(../images/clockpng.png);
    background-size: 100%; */
    width: 200px;
    height: 200px;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    /* background-image: url(../images/personnature.jpg);
    background-size: cover; */
    /* background-size: 100%; */
    
}
.splash-background {
    /* display: float; */
    position: absolute;
    z-index: -1;
    /* width: 200px; */
    height: 100vh;
    width: 100vw;
    background-image: url(../images/naturewatch.jpg);
    background-size: cover;
    
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.Link {
    text-decoration: none;
}